// .search-result-categories > li > a {
//     color: #b6b6b6;
//     font-weight: 400;
// }

// .search-result-categories > li > a:hover {
//     background-color: #ddd;
//     color: #555;
// }

// .search-result-categories > li > a > .glyphicon {
//     margin-right: 5px;
// }

// .search-result-categories > li > a > .badge {
//     float: right;
// }

// .search-results-count {
//     margin-top: 10px;
// }
.video-view {
    max-width: calc(1920px - 1rem);
    margin: 0 auto;

    .search-result-item {
        padding: 1rem;

        .card {
            padding: 1rem;
        }

        .image-container {
            .image {
                width: 100%;
            }
        }

        .title-container {
            padding: 1rem;
        }

        .info-container {
            padding-right: 2rem;
        }

        .button-container {
            padding-top: 1rem;
        }
    }
}
