<div class="video-view">
    <section class="search-result-item">
        <div class="card" *ngIf="result?.Response === 'True'">
            <div class="row">
                <div class="col">
                    <div class="title-container text-center">
                        <h1 class="search-result-item-heading">{{ result.Title }}</h1>
                        <h4>
                            <span class="badge badge-secondary">YEAR: {{ result.Year }}</span>&nbsp;
                            <span class="badge badge-secondary">RATED: {{ result.Rated }}</span>&nbsp;
                            <span class="badge badge-secondary">RUNTIME: {{ result.Runtime }}</span>&nbsp;
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3 col-lg-4 col-md-6">
                    <div class="image-container">
                        <img class="image" [src]="result.Poster" *ngIf="result.Poster && result.Poster != 'N/A'">
                        <img class="image" src="/assets/images/no-image.jpg" *ngIf="result.Poster == 'N/A'">
                    </div>
                </div>
                <div class="col-12 col-xl-9 col-lg-8 col-md-6">
                    <div class="info-container">
                        <div class="row">
                            <div class="col-lg">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4><b>Genre(s)</b></h4>
                                        <span id="GenreValue">{{ result.Genre }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Language(s)</b></h4>
                                        <span id="LanguageValue">{{ result.Language }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Rated</b></h4>
                                        <span id="RatedValue">{{ result.Rated }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Actors(s)</b></h4>
                                        <span id="ActorsValue">{{ result.Actors }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Plot</b></h4>
                                        <span id="PlotValue">{{ result.Plot }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Production</b></h4>
                                        <span id="ProductionValue">{{ result.Production }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <h4><b>Director(s)</b></h4>
                                        <span id="DirectorValue">{{ result.Director }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg">
                                <li class="list-group-item">
                                    <h4><b>Released</b></h4>
                                    <span id="ReleasedValue">{{ result.Released }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>Country</b></h4>
                                    <span id="CountryValue">{{ result.Country }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>Box Office Earnings</b></h4>
                                    <span id="BoxOfficeValue">{{ result.BoxOffice }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>Available on DVD</b></h4>
                                    <span id="DVDValue">{{ result.DVD }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>Website</b></h4>
                                    <span id="WebsiteValue">{{ result.Website }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>IMDB ID</b></h4>
                                    <span id="imdbIDValue">{{ result.imdbID }}</span>
                                </li>

                                <li class="list-group-item">
                                    <h4><b>IMDB Votes</b></h4>
                                    <span id="imdbVotesValue">{{ result.imdbVotes }}</span>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container row">
                <div class="col">
                    <button routerLink="/" class="btn btn-primary">Back to search</button>
                </div>
            </div>
        </div>

        <div class="error-container" *ngIf="result?.Response === 'False'">
            <div class="card">
                <p>An error occured and the movie could not be loaded:</p>
                <div class="alert alert-danger">
                    {{ result.Error }}
                </div>
                <div>
                    <button routerLink="/" class="btn btn-primary">Back to search</button>
                </div>
            </div>
        </div>

    </section>

    <!-- Debug -->
    <!-- <hr />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Debug Info</h5>
            <hr />
            <pre><code>Imdb ID = {{ imdbID | json }}</code></pre>
            <hr />
            <pre><code>Search Result = {{ result | json }}</code></pre>
        </div>
    </div> -->
</div>