<div class="search-page-view">

    <section class="search-controls-container">
        <div class="search-controls col-8">
            <form [formGroup]="searchForm">
                <div class="form-row">
                    <div class="form-group col-md">
                        <div class="form-label-group">
                            <input type="text" id="InputTitle" class="form-control form-control-lg"
                                placeholder="Iron Man" formControlName="title">
                            <label for="InputTitle">Movie Title</label>
                        </div>
                        <div *ngIf="searchForm.get('title').touched">
                            <div *ngIf="searchForm.get('title').getError('required')" class="invalid-feedback">
                                Title is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md">
                        <div class="form-label-group">
                            <input type="text" id="InputYear" class="form-control form-control-lg" placeholder="2011"
                                formControlName="year">
                            <label for="InputYear">Year</label>
                        </div>
                        <div *ngIf="searchForm.get('year').touched">
                            <div *ngIf="searchForm.get('year').getError('pattern')" class="invalid-feedback">
                                Year may only conatin the numbers 0-9
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md">
                        <select class="form-control form-control-lg" id="SelectVideoType" formControlName="videoType">
                            <option *ngFor="let videoType of OmdbVideoType | keyvalue" value="{{ videoType.value }}">
                                {{ videoType.value }}
                            </option>
                        </select>
                        <div *ngIf="searchForm.get('videoType').touched">
                            <span *ngIf="searchForm.get('videoType').getError('required')">
                                Video Type is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md">
                        <button (click)="search()" class="btn btn-block btn-lg btn-primary">Search</button>
                    </div>
                    <div class="form-group col-md">
                        <button (click)="clear()" class="btn btn-block btn-lg btn-secondary">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <hr />

    <section class="search-instructions" *ngIf="!searchState?.searchResults">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">OMDB API - Movie Search</h2>
                    <br />
                    <h3>About</h3>
                    <p>
                        This project serves to illustrates how to Connect an Angular front end to a Restful API.
                        It uses the <a target="_blank" href="http://omdbapi.com/">OMDB (Open Movie Database)</a> API as a backend.
                        If you clone this repository, please ensure you update the application configuration file (found under /assets), with an <a target="_blank" href="http://omdbapi.com/apikey.aspx">API Key from OMDB.</a>
                    </p>
                    <span>
                        The <a target="_blank" href="http://omdbapi.com/#parameters">V1 OMDB API</a> essentially defines 3 ways to search for Movies:
                    </span>
                    <ul>
                        <li>Get By ID - Which <b>finds the exact movie by its ID</b>. The result includes all the information about the movie.</li>
                        <li>Get By Title - Which <b>finds the first movie to match the given title</b>. The result includes all the information about the movie.</li>
                        <li>Get By Search - Which <b>searches by title and page</b> and returns 10 movies matching the search. The result only includes a limited subset of information about the movie</li>
                    </ul>

                    <h3>Key Concepts</h3>
                    <ul>
                        <li>Angular Services, Components and Routing</li>
                        <li>Responsive Styling using Bootstrap</li>
                        <li>State Management using Redux - Actions, Reducers & Effects</li>
                        <li>Using Masonry for dynamic Grid tiling</li>
                        <li>An example of how to Do Unit, Integration and End to End Testing (with code Coverage Reports)</li>
                    </ul>
                    <h3>Technology / Frameworks</h3>
                    <ul>
                        <li>Angular 11</li>
                        <li>Testing with Karma, Jasmine & Protractor</li>
                        <li>Bootstrap 4 - Bootstrap Styling</li>
                        <li>NgBootstrap - Bootstrap Components for Angular</li>
                        <li>NgRx - Redux for Angular</li>
                        <li>NgxToastr - Toast Notifications</li>
                    </ul>
                    <h3>Out of Scope</h3>
                    <ul>
                        <li>Angular Modules & Lazy Loading</li>
                    </ul>
                    <h3>Authors</h3>
                    <p>
                        Created with ❤️ by Matthew Marlin - <a href="https://gitlab.com/users/matthewamarlin/projects">GitLab</a>
                    </p>
                    <br />
                    <p>
                        For more information, please see the README.md file included in this project.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="search-result-container" *ngIf="searchState?.searchResults">
        <ngx-masonry [options]="masonryOptions" [ordered]="true">
            <div ngxMasonryItem [prepend]="false" *ngFor="let result of searchState?.searchResults?.Search;index as idx"
                class="masonry-item">

                <div class="card">
                    <div class="img-container" [routerLink]="'/video/'+result.imdbID">
                        <a class="image-link w-100" *ngIf="result.Poster && result.Poster != 'N/A'">
                            <img class="image w-100" [src]="result.Poster"
                                (error)="result.Poster='/assets/images/no-image.jpg'">
                        </a>
                        <a class="image-link w-100" *ngIf="result.Poster == 'N/A'">
                            <img class="image w-100" src="/assets/images/no-image.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <b>{{ result.Title }}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <span class="badge badge-dark">YEAR: {{ result.Year }}</span>
                            </div>
                            <div class="col text-center">
                                <span class="badge badge-info">IMDB: {{ result.imdbID }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-masonry>
    </section>

    <section class="search-pagination-container" *ngIf="searchState?.searchResults">
        <div class="d-flex justify-content-center">
            <ngb-pagination [maxSize]="10" [collectionSize]="this.searchState?.searchResults?.totalResults"
                [page]="searchState?.search?.page" (pageChange)="pageChanged($event)" [pageSize]="10">
            </ngb-pagination>
        </div>
    </section>
</div>

<!-- Debug -->
<!-- <section class="debug-info-container">
    <hr />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Debug Info</h5>
            <hr />
            <pre><code>Form = {{ searchForm.value | json }}</code></pre>
            <hr />
            <pre><code>SearchState = {{ searchState | json }}</code></pre>
            <hr />

        </div>
    </div>
</section> -->