.search-page-view {
    width: 100%;
    height: 100%;

    .search-instructions {
        width: 100%;

        .card {
            margin: 0 auto;
        }
    }

    .search-controls-container {
        .search-controls {
            margin: 0 auto;

            .form-row {
                padding-top: 1rem;
            }
        }
    }

    .search-result-container {
        ngx-masonry {
            width: 90vw;
            margin: 0 auto;
            padding-bottom: calc(56px + 2rem);

            .masonry-item {
                .img-container {
                    cursor: pointer;

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: gray;
                        opacity: 0;
                        transition: opacity 500ms ease-in-out;

                        .overlay-content {
                            position: absolute;
                            bottom: 0;
                            left: 0%;
                            width: calc(100% - 20px);
                            height: calc(25% - 20px);
                            transform: translate(10px, -10px);
                            border-radius: 5px;
                            color: rgb(161, 153, 153);
                            background-color: black;
                            opacity: 1;
                            text-align: center;
                            min-height: 150px;
                        }
                    }

                    &:hover {
                        .overlay {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.search-pagination-container {
    background-color: #343a40;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;
}

.masonry-item {
    width: 100%;
    margin-bottom: 10px;
}

/* 2 columns */
@media screen and (min-width: 768px) {
    .masonry-item {
        width: 48%;
        width: calc((100% - 20px) / 2);
    }
}

/* 5 columns */
@media screen and (min-width: 1024px) {
    .masonry-item {
        width: 31%;
        width: calc((100% - 80px) / 5);
    }
}

/* 5 columns */
@media screen and (min-width: 3064px) {
    .masonry-item {
        width: 31%;
        width: calc((100% - 160px) / 10);
    }
}

.debug-info-container {
    width: 90vw;
    margin: 0 auto;
}
