<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">OMDB Movie Search</a>
</nav>

<div class="page-content">
  <router-outlet></router-outlet>
</div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>